---
layout: page
description: "从胜利出发，与世界对话"
---

<!-- 首页顶部滚动字条样式开始 -->
    <style>
@keyframes marquee {
    0% { transform: translateX(150%); }
    100% { transform: translateX(-100%); }
}
</style>
<!-- 首页顶部滚动字条样式结束 -->


<!-- 顶部滚动字条内容开始 -->
{% if site.top-scroll-bar-control | default: true %}
<div style="position: relative; overflow: hidden!important; background: #1691cd!important; padding: 3px 0!important;">
    <div style="display: inline-block!important; animation: marquee 15s linear infinite!important; white-space: nowrap!important; font-size: 12px!important; color: white!important; font-weight: 400!important;">
        {{ site.top-scroll-bar }}
    </div>
</div>
{% endif %}
<!-- 顶部滚动字条内容结束 -->


<!--以下是功能栏，删除
<ul class="pager">
  
    <li class="next">
        <a href="#" data-toggle="tooltip" data-placement="top" title="管理登录">
                        管理登录<br>
        </a>
    </li>           
  
    <li class="next">
        <a href="#" data-toggle="tooltip" data-placement="top" title="联系我们">
                        联系我们<br>
        </a>
    </li>
                    
</ul>
以上是功能栏，删除-->

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
<!-- 发文信息开始 -->
        作者：{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} ㅤ日期：{{ post.date | date: "%Y-%m-%d" }}
<!-- 发文信息结束 -->
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
