<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

        <!-- 页面加载完成后回滚顶部
    <script>
        window.onload = function() {
            window.scrollTo(0, 0);
        };
    </script>
 -->
    
<!-- Image to hack wechat -->
<img src="/img/main/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
